<h2>Add a new local Library</h2>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-6">
      {{input
        type="text"
        value=model.author
        class="form-control"
        placeholder="The name of the author"
      }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Text</label>
    <div class="col-sm-6">
      {{input
        type="text"
        value=model.text
        class="form-control"
        placeholder="The address of the Library"
      }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Votes</label>
    <div class="col-sm-6">
      {{input
        type="text"
        value=model.votes
        class="form-control"
        placeholder="number of votes"
      }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-default" {{action "saveCard" model}}>
        Add Card
      </button>
    </div>
  </div>
</div>