<h1>Invitations</h1>
<div class="col-md-6 col-md-offset-3">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Allow</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |invitation|}}
        <tr>
          <td>{{invitation.id}}</td>
          <td>{{invitation.email}}</td>
          <td>
            <button class="btn btn-success">
              Allow
            </button>
            <button class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>