<h1>Cards</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to "cards.index" tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to "cards.new" tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}